---
layout: layouts/base.njk
---
<article>
  <h1>{{ title }}</h1>
  <div class="article-body">
    {{ content | safe }}
  </div>
</article>
{% if showBuildStats %}
  {% include "partials/build-stats.njk" %}
{% endif %}
